 GAME

In [ ]:
while(1):
  n=int(input())
  if n==12:
    print("game wins")
    break

1
2
3
4
5
6
7
88
9
10
11
12
game wins

Python program to solve quadratic equation

In [ ]:
import cmath
a,b,c=map(int,input().split())
#a = float(input('Enter a: '))  
#b = float(input('Enter b: '))  
#c = float(input('Enter c: '))
d = (b**2) - (4*a*c)  
  
# find two solutions  
sol1 = (-b-cmath.sqrt(d))/(2*a)  
sol2 = (-b+cmath.sqrt(d))/(2*a)    
#r=(-b+cmath.sqrt((b**2)-(4*a*c))/(2*a))
#r1=((-b-cmath.sqrt((b**2)-(4*a*c))/(2*a))
print(sol1)
print(sol2)

5 6 1
(-1+0j)
(-0.2+0j)

Python program to generate a random number

In [ ]:
import random as randint
print(randint.randint(3,300))

16

Python program to convert kilometers to miles

In [ ]:
km=int(input())
print(km*0.62137)

8
4.97096

Python program to convert Celsius to Fahrenheit

In [ ]:
c=int(input())
f=(c*1.8)+32
print(f)

33
91.4

Python program to display calendar

In [ ]:
import calendar as c
y,m=map(int,input().split())
print(c.month(y,m))

1999 9
   September 1999
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30

Python Program to check if a Number is Positive, Negative or Zero

In [ ]:
n=int(input())
if n>0:
  print("positive")
elif n<0:
  print("{0} is negative number".format(n))
else:
  print("zero")

3
positive

Python Program to Check if a Number is Odd or Even

In [ ]:
n=int(input())
if n&1==1:
  print(n," is odd")
else:
  print(n,"is even")
number=int(input("Please Enter a Number : "));  
x=int(number/2)*2;  
if(x==number):  
    print("This Number is Even")    
else:  
    print("This Number is Odd")

2
2 is even
Please Enter a Number : 546343
This Number is Odd

Python Program to Check Leap Year

In [ ]:
year=int(input())
if year%4==0 and year%100!=0 or year%400==0:
  print(year,"LEAP")
else:
  print(year,"NON LEAP")

2000
2000 LEAP

Python Program to Check Prime Number

In [ ]:
import sys
n=int(input())
for i in range(1,n+1):
  if n%i==0 and (i==1 or i==n):
    continue
print("not prime")

7
not prime

Python Program to Print all Prime Numbers between an Interval

In [ ]:
n,m=map(int,input().split())
for i in range(n,m+1):
  if i>0:
    for j in range(2,i):
      if i%j==0:
       #print("not prime no series are formed")
       break
    else:
      print("prime numbers are ",i)

2 12
prime numbers are  2
prime numbers are  3
prime numbers are  5
prime numbers are  7
prime numbers are  11

Program to Find the Factorial of a Number

In [ ]:
n=int(input())
fact=1
if n<0:
  print("fact not exist")
elif n==0:
  print("fact is ",fact)
else:
  for i in range(1,n+1):
    fact*=i
  print(fact)

4
24

Python Program to Display the multiplication Table

In [ ]:
m=int(input("which table "))
for i in range(1,20+1):
  print(i,'\t*',m,"=",i*m)

which table 12
1 	* 12 = 12
2 	* 12 = 24
3 	* 12 = 36
4 	* 12 = 48
5 	* 12 = 60
6 	* 12 = 72
7 	* 12 = 84
8 	* 12 = 96
9 	* 12 = 108
10 	* 12 = 120
11 	* 12 = 132
12 	* 12 = 144
13 	* 12 = 156
14 	* 12 = 168
15 	* 12 = 180
16 	* 12 = 192
17 	* 12 = 204
18 	* 12 = 216
19 	* 12 = 228
20 	* 12 = 240

 Program to Print the Fibonacci sequence

In [ ]:
n=int(input())
f1=0
f2=1
print("0",f1)
print("1",f2)
for i in range(2,n):
  f3=f1+f2
  f1=f2
  f2=f3
  print(i,f3)

9
0 0
1 1
2 1
3 2
4 3
5 5
6 8
7 13
8 21

Python Program to Check Armstrong Number

In [ ]:
n=int(input())
temp=n
sum=0
while(n>0):
  rem=n%10
  sum=sum+rem**3
  n=n//10
if sum==temp:
  print(temp," is amstrong number")
else:
  print(temp," is not an amstrong number")

153
153  is amstrong number

Python Program to Find Armstrong Number between an Interval

In [ ]:
upper = int(input("Enter upper range: "))  
for num in range(1,upper + 1):  
   sum = 0  
   temp = num  
   while temp > 0:  
       digit = temp % 10  
       sum += digit ** 3  
       temp //= 10  
       if num == sum:
           print(num)

Enter upper range: 153
1
64
125
153

Python Program to Find the Sum of Natural Numbers

In [ ]:
n=int(input())
s=0
d=n*(n+1)/2
print(int(d))

100
5050

Python program to sort the elements of an array in ascending order

In [ ]:
arr=list(map(int,input().split()))
for i in range(0,len(arr)):
  for j in range(i+1,len(arr)):
    if arr[i]<arr[j]:
      temp=arr[i]
      arr[i] =arr[j]
      arr[j]=temp
print(arr)

5 2 8 7 1
[8, 7, 5, 2, 1]

 Python program to print the smallest element in an array

In [ ]:
arr=list(map(int,input().split()))
min=arr[0]
for i in range(0,len(arr)):
  if arr[i]<min:
    min=arr[i]
print(min)

25 11 7 75 56
7

 Python program to print the largest element in an array

In [ ]:
arr=list(map(int,input().split()))
min=arr[0]
for i in range(0,len(arr)):
  if arr[i]>min:
    min=arr[i]
print(min)

25 11 7 75 56
75

Python program to print the elements of an array in reverse order

In [ ]:
arr=list(map(int,input().split()))
for i in range(len(arr),0):
  print(arr)

25 11 7 75 56

Python program to print the sum of all elements in an array

In [ ]:
l=list(map(int,input().split()))
s=0
for i in range(0,len(l)):
  s=s+l[i]
print(s)

1 2 3 4 5
15

Python program to print the duplicate elements of an array

In [ ]:
arr=list(map(int,input().split()))
for i in range(0,len(arr)):
  for j in range(i+1,len(arr)):
    if arr[i]==arr[j]:
      print(arr[i])

1 2 3 4 2 7 8 8 3
2
3
8

Python program to print the number of elements present in an array

In [ ]:
arr=list(map(int,input().split()))
print(len(arr))

1 22 3 4 5 6 7 8 9 0
10

Python program to find the frequency of each element in the array

In [ ]:
import collections as c
arr=list(map(int,input().split()))
d=c.Counter(arr)
print(d)

7 4 4 8 4 7 7 8 1 5
Counter({7: 3, 4: 3, 8: 2, 1: 1, 5: 1})

Python program to copy all elements of one array into another array

In [ ]:
arr=list(map(int,input().split()))
l=[]
l.append(arr)
print(str(l))

1 2 3 4 5
[[1, 2, 3, 4, 5]]

Python program to left rotate the elements of an array

In [ ]:
l=list(map(int,input().split()))
nl=l[:]
n=int(input('how many times rotate?'))
for i in range(0,n):
  f=l[0]
  for j in range(0,len(l)-1):
    l[j]=l[j+1]
  l[len(l)-1]=f  
print(l)

n=n%len(nl)
print(n)
left=nl[:n]
print(left)
nl=nl[n:]
nl.extend(left)
print(nl)

1 2 3 4 5
how many times rotate?3
[4, 5, 1, 2, 3]
3
[1, 2, 3]
[4, 5, 1, 2, 3]

Python program to right rotate the elements of an array

In [ ]:
arr=list(map(int,input().split()))
n=int(input())
for i in range(0,n):
  last=arr[len(arr)-1]
  for j in range(len(arr)-1,-1,-1):
    arr[j]=arr[j-1]
  arr[0]=last
print(arr)

1 2 3 4 5
3
[5, 2, 3, 4, 5]

Program to Find LCM

In [ ]:
n=int(input())
m=int(input())
if n>m:
  greater=n
else:
  greater=m
while(1):
  if greater%n==0 and greater%m==0:
    print(greater)
    break
  greater+=1

12
48
48


Python Program to Find HCF

In [ ]:
import math
n=int(input())
m=int(input())
hcf=1
if n>m:
  s=m
else:
  s=n
for i in range(1,s+1):
  if n%i==0 and m%i==0:
    hcf=i
print(hcf)

48
36
12

Program to Convert Decimal to Binary, Octal and Hexadecimal

In [ ]:
n=int(input())
#a=n[2:]
print(bin(n))
print(oct(n))
print(hex(n))

2
0b10
0o2
0x2

Program To Find ASCII value of a character

In [ ]:
c=input()
print(ord(c))

A
65

Program to Make a Simple Calculator

In [ ]:
def add(n,m):
  return n+m
def sub(n,m):
  return n-m
def mul(n,m):
  return n*m
def div(n,m):
  return n/m
n=int(input())
m=int(input())
print("1 add 2 sub 3 mul 4 div")
c=int(input())
if c==1:
  print(add(n,m))
elif c==2:
  print(sub(n,m))
elif c==3:
  print(mul(n,m))
elif c==4:
  print(div(n,m))
else:
  print("invalid2")

2
3
1 add 2 sub 3 mul 4 div
2
-1

Program to search an element in an array or LINEAR SEARCH

In [ ]:
l=list(map(int,input().split()))
s=int(input())
flag=0
for i in range(0,len(l)):
  if l[i]==s:
    flag=1
    break
if flag==1:
  print("Found",l[i])
else:
  print("Not found")

1 2 3 4 5
33
Not found

Python Program to Sort Words in Alphabetic Order

In [ ]:
s=input().split()
s.sort()
print(*(s))

my name is aashikha
aashikha is my name

Program to Remove Punctuation from a String

In [ ]:
s=input()
l=[]
a=" "
for i in range(0,len(s)):
  if  (s[i]>='a' and s[i]<='z') or (s[i]>='A' and s[i]<='Z'):
    a+=(s[i])
print(" ".join(a))

@WEE33345$$$5
  W E E

program to check if the given number is a Disarium Number

In [ ]:
n=int(input())
rem=0
temp=n
t=n
p=0
count=0
while(temp>0):
  count=count+1
  temp=temp//10
#return count
c=count
while(n>0):
  rem=n%10
  p=p + int(rem**c)
  print(p)
  n=n//10
  c=c-1
if p==t:
  print(p,"is a disarium no")
else:
  print(p,"is not a disarium no")

175
125
174
175
175 is a disarium no

 program to print all disarium numbers between 1 and 100

In [ ]:
n=int(input())
on=n
temp=n
sum=rem=0
count=0
while temp>0:
  count+=1
  temp//=10
c=count
while n>0:
  rem=n%10
  sum=sum+int(rem**c)
  print(sum)
  n//=10
  c-=1
if sum==on:
  print(on," is a disarium no")
else:
  print(on,"is not a disarium no")

175
125
174
175
175  is a disarium no



*   List item
*   List item

TO FIND FACTORS AND PRINT THE PRODUCT OF FACTORS

In [ ]:
n=int(input())
x=1
for i in range(1,n+1):
  if n%i==0:
    print(i)
    x=x*i
print(x)

4
1
2
4
8